.opciones {
display: grid;
grid-template-colums: 1fr 1fr 1fr;
justify-items: center;
}

.opcion {
font-size: 30px;
border:5px solid black;
border-radius: 50%;
padding: 40px;
cursor: pointer;
}

.body {
background-image: radial-gradient(circle 800px at center, #4F3E84 1%, #231944 100%);

}

.App {
color: white;

}

.resultadoFinal {
justify-items: center;
}
